@charset "UTF-8";
/* 変数 */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.relative {
  position: relative;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.just-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
}

.just-space-between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-box-pack: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.items-center {
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.just-end {
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -moz-box-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-pack: end;
}

.text-center {
  text-align: center;
}

.items-end {
  align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  .sp {
    display: none;
  }
  .sp-flex-direction {
    flex-flow: column;
  }
}
/*--------------------------------------------------------------
# Icon Font
--------------------------------------------------------------*/
@font-face {
  font-family: "TBChibiRGoPlusKPro Regular";
  src: url("../font/A-OTF Jun Pro 101.otf");
  font-weight: normal;
  font-style: normal;
}
/* 基礎のスタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TBChibiRGoPlusKPro Regular";
  font-size: 0.7092198582vw;
  font-weight: bold !important;
  line-height: 1.5;
  color: #000;
  letter-spacing: -1px;
  background-color: #f0ebe5;
  background-image: url(../img/mainbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  body {
    min-height: calc(100% - 20vw);
  }
}

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* a {
  text-decoration: none !important;
  color: unset;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

input[type=text], input[type=email], input[type=tel], select {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #D9D9D9;
  color: #333333;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  input[type=text], input[type=email], input[type=tel], select {
    padding: 0.35em 1em;
    font-size: 3.73vw;
  }
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, select:focus {
  border-color: #CCC;
}
input[type=text]::placeholder, input[type=text]:-ms-input-placeholder, input[type=text]::-ms-input-placeholder, input[type=email]::placeholder, input[type=email]:-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=tel]::placeholder, input[type=tel]:-ms-input-placeholder, input[type=tel]::-ms-input-placeholder, select::placeholder, select:-ms-input-placeholder, select::-ms-input-placeholder {
  color: #8B8B8B;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder, select::placeholder {
  opacity: 1;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  position: relative;
}

.banner .b-img {
  display: flex;
  justify-content: space-between;
}
.banner .b-img--l {
  background: url("../img/l-img.png") no-repeat;
  width: 817px;
  height: 769px;
  background-size: cover;
  margin-top: 28px;
  margin-left: -325px;
  position: relative;
}
.banner .b-img--l .tip-img-bottom {
  display: inline-block;
  background: url(../img/t-img01.png) no-repeat;
  width: 171px;
  height: 188px;
  bottom: 26px;
  right: 11px;
  background-size: cover;
  position: absolute;
}
.banner .b-img--l .tip-img-top {
  display: inline-block;
  background: url(../img/t-img02.png) no-repeat;
  width: 286px;
  height: 216px;
  top: -11px;
  right: -12px;
  background-size: cover;
  position: absolute;
}
.banner .b-img--l .tip-img-unform {
  z-index: -1;
  position: absolute;
}
.banner .b-img--l .tip-img-unform--first {
  display: inline-block;
  background: url(../img/unform01.png) no-repeat;
  width: 335px;
  height: 324px;
  bottom: -121px;
  right: -88px;
  background-size: cover;
}
.banner .b-img--c {
  margin-top: 107px;
  position: relative;
}
.banner .b-img--c .tip-img-top {
  display: inline-block;
  background: url(../img/brown-1.png) no-repeat;
  width: 381px;
  height: 336px;
  background-size: cover;
}
.banner .b-img--c .tip-img-bottom {
  display: inline-block;
  background: url(../img/brown-2.png);
  width: 478px;
  height: 489px;
  background-size: cover;
  top: 320px;
  left: 109px;
  position: absolute;
}
.banner .b-img--r {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-top: -30px;
  position: relative;
}
.banner .b-img--r__first {
  background: url("../img/r-img-first.png") no-repeat;
  width: 557px;
  height: 410px;
  background-size: cover;
  margin-right: -82px;
}
.banner .b-img--r__second {
  background: url("../img/r-img-second.png") no-repeat;
  width: 400px;
  height: 347px;
  background-size: cover;
  margin-right: -72px;
}
.banner .b-img--r .tip-img-bottom {
  display: inline-block;
  background: url(../img/t-img03.png) no-repeat;
  width: 146px;
  height: 223px;
  bottom: -112px;
  right: 175px;
  background-size: cover;
  position: absolute;
}
.banner .b-action {
  margin: 80px 210px 0 210px;
}
.banner .top-desc {
  background: url(../img/t-desc-bg.png) no-repeat;
  width: 428px;
  height: 161px;
  background-size: cover;
  padding: 53px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3px;
  color: #362e2b;
  position: absolute;
  top: 0;
  right: 110px;
}

.img-item-top-c {
  background: url(../img/banner-img-item01.png) no-repeat;
  width: 191px;
  height: 169px;
  top: 276px;
  left: 413px;
  z-index: -1;
  position: absolute;
}

.img-item-top-r {
  background: url(../img/banner-img-item02.png) no-repeat;
  width: 623px;
  height: 490px;
  top: -20px;
  right: 0px;
  z-index: -1;
  position: absolute;
}

.tip-img-unform--second {
  display: inline-block;
  background: url(../img/unform02.png) no-repeat;
  width: 411px;
  height: 680px;
  bottom: 0px;
  top: 733px;
  left: -64px;
  z-index: -1;
  position: absolute;
  background-size: cover;
}

.tip-img-unform--third {
  display: inline-block;
  background: url(../img/unform03.png) no-repeat;
  width: 400px;
  height: 347px;
  bottom: 0px;
  top: 733px;
  left: -64px;
  z-index: -1;
  position: absolute;
  background-size: cover;
}

.tip-img-unform--forth {
  display: inline-block;
  background: url(../img/unform04.png) no-repeat;
  width: 799px;
  height: 1094px;
  top: -330px;
  right: -338px;
  z-index: -1;
  position: absolute;
  background-size: cover;
}

.nav__sns {
  top: 52px;
  right: 42px;
  position: absolute;
}
.nav__sns .p-sns__ul__li {
  margin-bottom: 14px;
}
.nav__sns .p-sns__ul__li__item {
  display: inline-block;
  width: 65px;
  height: 65px;
}
.nav__sns .p-sns__ul__li__item.facebook {
  background: url(../img/icons/f_icon.png) no-repeat;
  background-size: cover;
}
.nav__sns .p-sns__ul__li__item.twitter {
  background: url(../img/icons/t_icon.png) no-repeat;
  background-size: cover;
}
.nav__sns .p-sns__ul__li__item.instagram {
  background: url(../img/icons/i_icon.png) no-repeat;
  background-size: cover;
}
.nav__sns .p-sns__ul__li__item.smart {
  background: url(../img/icons/s_icon.png) no-repeat;
  background-size: cover;
}

.nav {
  background: #ffffff;
  padding: 0 10px 10px 10px;
  top: 0;
  left: 37px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 99;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: -4.8177083333vw;
    padding: 0;
    border-top-right-radius: 200px;
    display: none;
  }
}
.nav__content {
  padding: 26px;
  border: 2px dashed #a6937c;
  border-top: none;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  padding-top: 94px;
}
@media only screen and (max-width: 768px) {
  .nav__content {
    padding-top: -2.6041666667vw;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
  }
}
.nav__content .nav-t__block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav__content .title {
  display: block;
  font-size: 16px;
  color: #221815;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.nav__content h1 {
  font-size: 36px;
  letter-spacing: -0.03em;
  color: #221815;
  margin-bottom: 20px;
}
.nav .header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/logo.png);
  width: 78px;
  height: 78px;
  background-size: cover;
  margin-bottom: 28px;
}
.nav__ul__li {
  border-bottom: 2px solid #f0c8c9;
}
.nav__ul__li a {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 11px 0;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.nav__ul__li:first-child {
  border-top: 3px solid #edb7b9;
}
.nav__ul__li:last-child {
  border-bottom: none;
  padding-bottom: 32px;
}
.nav__desc {
  background: url(../img/nav-desc-bg.png) no-repeat;
  width: 158px;
  height: 172px;
  right: 0;
  background-size: cover;
  bottom: -87px;
  position: absolute;
}
.nav__desc h4, .nav__desc p {
  margin-left: 55px;
  line-height: 1;
}
.nav__desc h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #f29c9f;
}
.nav__desc p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.introduction {
  position: relative;
}
.introduction .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 122px;
  padding-left: 172.5px;
  padding-right: 172.5px;
}
.introduction .title {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 56px;
  margin-left: 90px;
  color: #362e2b;
}
.introduction .title span {
  display: block;
  writing-mode: tb-rl;
  font-size: 16px;
  line-height: 1;
  margin-left: 16px;
  letter-spacing: 3px;
}
.introduction .title h2 {
  writing-mode: tb-rl;
  line-height: 1;
  letter-spacing: 10px;
  font-size: 36px;
}
.introduction .description {
  padding: 36px 13px 22px 13px;
  border-top: 3px solid #362e2b;
  border-bottom: 3px solid #362e2b;
  margin-top: 201px;
  margin-right: 33px;
}
.introduction .description p {
  color: #362e2b;
  font-size: 16px;
  line-height: 32px;
  writing-mode: tb-rl;
  letter-spacing: 2px;
}
.introduction .ribbon {
  margin: 225px auto 186px auto;
  width: 415px;
  height: 79px;
  background: url(../img/ribbon.png) no-repeat;
  background-size: cover;
}

.services {
  margin-bottom: 373px;
  position: relative;
}
.services .service-group__item {
  background-color: #f0c8c9;
  border-radius: 200px;
  padding: 66px 55px;
  min-height: 620px;
  margin: auto 32px;
  position: relative;
}
.services .service-group__item img {
  margin-bottom: 38px;
}
.services .service-group__item h3 {
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  color: #362e2b;
  margin-bottom: 29px;
}
.services .service-group__item p {
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  color: #362e2b;
  letter-spacing: 1px;
}

.schedule {
  padding: 0 160px;
}
.schedule h3 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #362e2b;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .schedule h3 {
    padding-top: -1.3020833333vw;
    padding-bottom: 1.3020833333vw;
    margin-left: 14.3229166667vw;
  }
}
.schedule__contents {
  margin-left: 77px;
  padding: 113px 64px 33px 64px;
  border: 2px solid #f29c9f;
  border-radius: 50px;
  position: relative;
}
.schedule__contents .ribbon {
  background: url(../img/schedule-ribbon.png) no-repeat;
  width: 71px;
  height: 95px;
  top: -97px;
  background-size: cover;
  left: 67px;
  position: absolute;
}
.schedule__contents ul li {
  margin-bottom: 36px;
  font-size: 16px;
  line-height: 1;
  color: #362e2b;
  letter-spacing: 2px;
}
.schedule__contents ul li .date {
  margin-right: 23px;
}
.schedule__contents ul li:last-child {
  margin-bottom: 54px;
}
@media only screen and (min-width: 769px) {
  .schedule__contents::after {
    content: "";
    width: 38px;
    height: 3px;
    background-color: #f0c8c9;
    position: absolute;
    top: 50%;
    left: -24px;
  }
}
.schedule__contents .action-group .btn {
  font-size: 18px;
  color: #362e2b;
  letter-spacing: 3px;
}

.footer {
  margin-top: 181px;
  background-color: #f7f2e9;
  position: relative;
}
.footer .action-group {
  width: 100%;
  top: -52px;
  display: flex;
  padding-left: 210px;
  padding-right: 210px;
  justify-content: center;
  position: absolute;
}
.footer__content {
  padding: 148px 78px 66px 78px;
}
.footer__content .footer-block {
  width: 25%;
}
.footer__content .footer-block:first-child {
  width: 50%;
}
.footer__content .foot-logo span {
  font-size: 16px;
  color: #221815;
  letter-spacing: 3px;
}
.footer__content .foot-logo h3 {
  font-size: 36px;
  color: #221815;
  letter-spacing: 4px;
}
.footer__content address {
  font-style: normal;
  margin-top: 65px;
  font-size: 16px;
  color: #221815;
  letter-spacing: 2px;
  line-height: 2em;
}
.footer__content ul li {
  font-size: 16px;
  color: #221815;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 14px;
}
.footer__logo {
  display: inline-block;
  width: 78px;
  height: 78px;
  background: url(../img/logo.png) no-repeat;
  background-size: cover;
  margin-right: 25px;
}
.footer .page-up {
  background: url("../img/pageup.png") no-repeat;
  width: 149px;
  height: 446px;
  background-size: cover;
  right: 0;
  cursor: pointer;
  top: -35px;
  position: absolute;
}

.copyright {
  font-size: 14px;
  color: #a6937c;
  letter-spacing: 7px;
  padding-bottom: 33px;
}

.nav-hamburger {
  position: fixed;
  top: 20px;
  left: 37px;
  width: 45px;
  height: 45px;
  z-index: 100;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: #221815;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #221815;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.5s;
}
@media only screen and (min-width: 769px) {
  .nav-hamburger {
    display: none;
  }
}

.is-menuopen .nav-hamburger {
  background-color: #fff;
}

.nav-hamburger__line {
  position: relative;
  width: 1.625em;
  height: 1em;
  display: block;
  overflow: hidden;
}

.nav-hamburger__line:before,
.nav-hamburger__line:after {
  content: "";
  display: block;
  transition: transform 0.4s, background-color 0.5s;
  position: absolute;
  width: 100%;
  left: 0;
  height: 3px;
  background-color: #fff;
}

.is-menuopen .nav-hamburger__line:before,
.is-menuopen .nav-hamburger__line:after {
  background-color: #222;
}

.nav-hamburger__line:before {
  top: 0;
}

.nav-hamburger__line:after {
  bottom: 0;
}

.is-menuopen .nav-hamburger .nav-hamburger__line:before {
  transform: translateY(0.375em) rotate(-45deg);
}

.is-menuopen .nav-hamburger .nav-hamburger__line:after {
  transform: translateY(-0.375em) rotate(45deg);
}

@media (hover: hover) {
  .nav-hamburger:hover.on .nav-hamburger__line:before,
.nav-hamburger:hover.on .nav-hamburger__line:after {
    animation: menulineanim 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .nav-hamburger:hover.on .nav-hamburger__line:after {
    animation-delay: 0.1s;
  }
  .is-menubtnopen .nav-hamburger:hover.on .nav-hamburger__line:before,
.is-menubtnopen .nav-hamburger:hover.on .nav-hamburger__line:after {
    animation: none;
  }
  @keyframes menulineanim {
    0% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(100%, 0, 0);
    }
    52% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}
.btn-scroll-down {
  top: 633px;
  left: 50%;
  position: absolute;
}
.btn-scroll-down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 45px;
  height: 69px;
  margin-left: -15px;
  border: 5px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.btn-scroll-down span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 5px;
  height: 15px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1410px) {
  .img-item-top-c {
    background: url(../img/banner-img-item01.png) no-repeat;
    width: 13.5460992908vw;
    height: 11.9858156028vw;
    top: 19.5744680851vw;
    left: 29.2907801418vw;
    z-index: -1;
    position: absolute;
  }
  .img-item-top-r {
    background: url(../img/banner-img-item02.png) no-repeat;
    width: 44.1843971631vw;
    height: 34.7517730496vw;
    top: -1.4184397163vw;
    right: 0vw;
    z-index: -1;
    position: absolute;
  }
  .banner {
    overflow: hidden;
  }
  .banner .b-img {
    display: flex;
    justify-content: space-between;
  }
  .banner .b-img--l {
    background: url("../img/l-img.png") no-repeat;
    width: 57.9432624113vw;
    height: 54.5390070922vw;
    background-size: cover;
    margin-top: 1.9858156028vw;
    margin-left: -23.0496453901vw;
    position: relative;
  }
  .banner .b-img--l .tip-img-bottom {
    display: inline-block;
    background: url(../img/t-img01.png) no-repeat;
    width: 12.1276595745vw;
    height: 13.3333333333vw;
    bottom: 1.8439716312vw;
    right: 0.780141844vw;
    background-size: cover;
    position: absolute;
  }
  .banner .b-img--l .tip-img-top {
    display: inline-block;
    background: url(../img/t-img02.png) no-repeat;
    width: 20.2836879433vw;
    height: 15.3191489362vw;
    top: -0.780141844vw;
    right: -0.8510638298vw;
    background-size: cover;
    position: absolute;
  }
  .banner .b-img--l .tip-img-unform {
    z-index: -1;
    position: absolute;
  }
  .banner .b-img--l .tip-img-unform--first {
    display: inline-block;
    background: url(../img/unform01.png) no-repeat;
    width: 23.7588652482vw;
    height: 22.9787234043vw;
    bottom: -8.5815602837vw;
    right: -6.2411347518vw;
    background-size: cover;
  }
  .banner .b-img--c {
    margin-top: 7.5886524823vw;
    position: relative;
  }
  .banner .b-img--c .tip-img-top {
    display: inline-block;
    background: url(../img/brown-1.png);
    width: 27.0212765957vw;
    height: 23.829787234vw;
    background-size: cover;
  }
  .banner .b-img--c .tip-img-bottom {
    display: inline-block;
    background: url(../img/brown-2.png);
    width: 33.9007092199vw;
    height: 34.6808510638vw;
    background-size: cover;
    top: 22.695035461vw;
    left: 7.7304964539vw;
    position: absolute;
  }
  .banner .b-img--r {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-top: -2.1276595745vw;
    position: relative;
  }
  .banner .b-img--r__first {
    background: url("../img/r-img-first.png") no-repeat;
    width: 39.5035460993vw;
    height: 29.0780141844vw;
    background-size: cover;
    margin-right: -5.8156028369vw;
  }
  .banner .b-img--r__second {
    background: url("../img/r-img-second.png") no-repeat;
    width: 28.3687943262vw;
    height: 24.609929078vw;
    background-size: cover;
    margin-right: -5.1063829787vw;
  }
  .banner .b-img--r .tip-img-bottom {
    display: inline-block;
    background: url(../img/t-img03.png) no-repeat;
    width: 10.3546099291vw;
    height: 15.8156028369vw;
    bottom: -7.9432624113vw;
    right: 12.4113475177vw;
    background-size: cover;
    position: absolute;
  }
  .banner .b-action {
    margin: 5.6737588652vw 14.8936170213vw 0 14.8936170213vw;
  }
  .banner .top-desc {
    background: url(../img/t-desc-bg.png) no-repeat;
    width: 30.3546099291vw;
    height: 11.4184397163vw;
    background-size: cover;
    padding: 3.7588652482vw;
    font-size: 1.134751773vw;
    line-height: 1.7021276596vw;
    letter-spacing: 0.2127659574vw;
    color: #362e2b;
    position: absolute;
    top: 0;
    right: 7.8014184397vw;
  }
  .tip-img-unform--second {
    display: inline-block;
    background: url(../img/unform02.png) no-repeat;
    width: 29.1489361702vw;
    height: 48.2269503546vw;
    bottom: 0vw;
    top: 51.9858156028vw;
    left: -4.5390070922vw;
    z-index: -1;
    position: absolute;
    background-size: cover;
  }
  .tip-img-unform--third {
    display: inline-block;
    background: url(../img/unform03.png) no-repeat;
    width: 28.3687943262vw;
    height: 24.609929078vw;
    bottom: 0vw;
    top: 51.9858156028vw;
    left: -4.5390070922vw;
    z-index: -1;
    position: absolute;
    background-size: cover;
  }
  .tip-img-unform--forth {
    display: inline-block;
    background: url(../img/unform04.png) no-repeat;
    width: 56.6666666667vw;
    height: 77.5886524823vw;
    top: -23.4042553191vw;
    right: -23.9716312057vw;
    z-index: -1;
    position: absolute;
    background-size: cover;
  }
  .nav__sns {
    top: 3.6879432624vw;
    right: 2.9787234043vw;
    position: absolute;
  }
  .nav__sns .p-sns__ul__li {
    margin-bottom: 0.9929078014vw;
  }
  .nav__sns .p-sns__ul__li__item {
    display: inline-block;
    width: 4.609929078vw;
    height: 4.609929078vw;
  }
  .nav__sns .p-sns__ul__li__item.facebook {
    background: url(../img/icons/f_icon.png) no-repeat;
    background-size: cover;
  }
  .nav__sns .p-sns__ul__li__item.twitter {
    background: url(../img/icons/t_icon.png) no-repeat;
    background-size: cover;
  }
  .nav__sns .p-sns__ul__li__item.instagram {
    background: url(../img/icons/i_icon.png) no-repeat;
    background-size: cover;
  }
  .nav__sns .p-sns__ul__li__item.smart {
    background: url(../img/icons/s_icon.png) no-repeat;
    background-size: cover;
  }
  .nav {
    background: #ffffff;
    padding: 0 0.7092198582vw 0.7092198582vw 0.7092198582vw;
    top: 0;
    left: 2.6241134752vw;
    border-bottom-left-radius: 14.1843971631vw;
    border-bottom-right-radius: 14.1843971631vw;
    z-index: 99;
    position: absolute;
  }
}
@media only screen and (max-width: 1410px) and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 4.8177083333vw;
    padding: 0;
    border-top-right-radius: 14.1843971631vw;
    display: none;
  }
}
@media only screen and (max-width: 1410px) {
  .nav__content {
    padding: 1.8439716312vw;
    border: 2px dashed #a6937c;
    border-top: none;
    border-bottom-left-radius: 14.1843971631vw;
    border-bottom-right-radius: 14.1843971631vw;
    padding-top: 6.6666666667vw;
  }
}
@media only screen and (max-width: 1410px) and (max-width: 768px) {
  .nav__content {
    padding-top: 2.6041666667vw;
    border-top-right-radius: 14.1843971631vw;
    border-bottom-right-radius: 14.1843971631vw;
  }
}
@media only screen and (max-width: 1410px) {
  .nav__content .nav-t__block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1410px) {
  .nav__content .title {
    display: block;
    font-size: 1.134751773vw;
    color: #221815;
    margin-bottom: 1.4184397163vw;
    letter-spacing: 0.0709219858vw;
  }
}
@media only screen and (max-width: 1410px) {
  .nav__content h1 {
    font-size: 2.5531914894vw;
    letter-spacing: -0.03em;
    color: #221815;
    margin-bottom: 1.4184397163vw;
  }
}
@media only screen and (max-width: 1410px) {
  .nav .header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/logo.png);
    width: 5.5319148936vw;
    height: 5.5319148936vw;
    background-size: cover;
    margin-bottom: 1.9858156028vw;
  }
}
@media only screen and (max-width: 1410px) {
  .nav__ul__li {
    border-bottom: 0.1418439716vw solid #f0c8c9;
  }
  .nav__ul__li a {
    display: inline-block;
    font-size: 1.134751773vw;
    line-height: 1;
    padding: 0.780141844vw 0;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  .nav__ul__li:first-child {
    border-top: 0.2127659574vw solid #edb7b9;
  }
  .nav__ul__li:last-child {
    border-bottom: none;
    padding-bottom: 2.2695035461vw;
  }
}
@media only screen and (max-width: 1410px) {
  .nav__desc {
    background: url(../img/nav-desc-bg.png) no-repeat;
    width: 11.2056737589vw;
    height: 12.1985815603vw;
    right: 0;
    background-size: cover;
    bottom: -6.170212766vw;
    position: absolute;
  }
  .nav__desc h4, .nav__desc p {
    margin-left: 3.9007092199vw;
    line-height: 1;
  }
  .nav__desc h4 {
    margin-top: 1.4184397163vw;
    margin-bottom: 0.3546099291vw;
    font-size: 1.134751773vw;
    color: #f29c9f;
  }
  .nav__desc p {
    font-size: 1.134751773vw;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
@media only screen and (max-width: 1410px) {
  .introduction {
    position: relative;
  }
  .introduction .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 8.6524822695vw;
    padding-left: 12.2340425532vw;
    padding-right: 12.2340425532vw;
  }
  .introduction .title {
    display: flex;
    flex-flow: row-reverse;
    margin-top: 3.9716312057vw;
    margin-left: 6.3829787234vw;
    color: #362e2b;
  }
  .introduction .title span {
    display: block;
    writing-mode: tb-rl;
    font-size: 1.134751773vw;
    line-height: 1;
    margin-left: 1.134751773vw;
    letter-spacing: 0.2127659574vw;
  }
  .introduction .title h2 {
    writing-mode: tb-rl;
    line-height: 1;
    letter-spacing: 0.7092198582vw;
    font-size: 2.5531914894vw;
  }
  .introduction .description {
    padding: 2.5531914894vw 0.9219858156vw 1.5602836879vw 0.9219858156vw;
    border-top: 0.2127659574vw solid #362e2b;
    border-bottom: 0.2127659574vw solid #362e2b;
    margin-top: 14.2553191489vw;
    margin-right: 2.3404255319vw;
  }
  .introduction .description p {
    color: #362e2b;
    font-size: 1.134751773vw;
    line-height: 2.2695035461vw;
    writing-mode: tb-rl;
    letter-spacing: 0.1418439716vw;
  }
  .introduction .ribbon {
    margin: 15.9574468085vw auto 13.1914893617vw auto;
    width: 29.4326241135vw;
    height: 5.6028368794vw;
    background: url(../img/ribbon.png) no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 1410px) {
  .services {
    margin-bottom: 26.4539007092vw;
    position: relative;
  }
  .services .service-group__item {
    background-color: #f0c8c9;
    border-radius: 14.1843971631vw;
    padding: 4.6808510638vw 3.9007092199vw;
    min-height: 43.9716312057vw;
    margin: auto 2.2695035461vw;
    position: relative;
  }
  .services .service-group__item img {
    margin-bottom: 2.695035461vw;
  }
  .services .service-group__item h3 {
    text-align: center;
    font-size: 2.5531914894vw;
    line-height: 1.2;
    color: #362e2b;
    margin-bottom: 2.0567375887vw;
  }
  .services .service-group__item p {
    margin: 0 auto;
    font-size: 1.134751773vw;
    line-height: 2.1276595745vw;
    color: #362e2b;
    letter-spacing: 0.0709219858vw;
  }
}
@media only screen and (max-width: 1410px) {
  .schedule {
    padding: 0 11.3475177305vw;
  }
  .schedule h3 {
    font-size: 2.5531914894vw;
    line-height: 3.4042553191vw;
    letter-spacing: 0.05em;
    color: #362e2b;
    font-weight: bold;
  }
}
@media only screen and (max-width: 1410px) and (max-width: 768px) {
  .schedule h3 {
    padding-top: 1.3020833333vw;
    padding-bottom: 1.3020833333vw;
    margin-left: 14.3229166667vw;
  }
}
@media only screen and (max-width: 1410px) {
  .schedule__contents {
    margin-left: 5.4609929078vw;
    padding: 8.0141843972vw 4.5390070922vw 2.3404255319vw 4.5390070922vw;
    border: 0.1418439716vw solid #f29c9f;
    border-radius: 3.5460992908vw;
    position: relative;
  }
  .schedule__contents .ribbon {
    background: url(../img/schedule-ribbon.png) no-repeat;
    width: 5.0354609929vw;
    height: 6.7375886525vw;
    top: -6.8794326241vw;
    background-size: cover;
    left: 4.7517730496vw;
    position: absolute;
  }
  .schedule__contents ul li {
    margin-bottom: 2.5531914894vw;
    font-size: 1.134751773vw;
    line-height: 1;
    color: #362e2b;
    letter-spacing: 0.1418439716vw;
  }
  .schedule__contents ul li .date {
    margin-right: 1.6312056738vw;
  }
  .schedule__contents ul li:last-child {
    margin-bottom: 3.829787234vw;
  }
}
@media only screen and (max-width: 1410px) and (min-width: 769px) {
  .schedule__contents::after {
    content: "";
    width: 2.695035461vw;
    height: 0.2127659574vw;
    background-color: #f0c8c9;
    position: absolute;
    top: 50%;
    left: -1.7021276596vw;
  }
}
@media only screen and (max-width: 1410px) {
  .schedule__contents .action-group .btn {
    font-size: 1.2765957447vw;
    color: #362e2b;
    letter-spacing: 0.2127659574vw;
  }
}
@media only screen and (max-width: 1410px) {
  .footer {
    margin-top: 12.8368794326vw;
    background-color: #f7f2e9;
    position: relative;
  }
  .footer .action-group {
    width: 100%;
    top: -3.6879432624vw;
    display: flex;
    padding-left: 14.8936170213vw;
    padding-right: 14.8936170213vw;
    justify-content: center;
    position: absolute;
  }
  .footer__content {
    padding: 10.4964539007vw 5.5319148936vw 4.6808510638vw 5.5319148936vw;
  }
  .footer__content .footer-block {
    width: 25%;
  }
  .footer__content .footer-block:first-child {
    width: 50%;
  }
  .footer__content .foot-logo span {
    font-size: 1.134751773vw;
    color: #221815;
    letter-spacing: 0.2127659574vw;
  }
  .footer__content .foot-logo h3 {
    font-size: 2.5531914894vw;
    color: #221815;
    letter-spacing: 0.2836879433vw;
  }
  .footer__content address {
    font-style: normal;
    margin-top: 4.609929078vw;
    font-size: 1.134751773vw;
    color: #221815;
    letter-spacing: 0.1418439716vw;
    line-height: 2em;
  }
  .footer__content ul li {
    font-size: 1.134751773vw;
    color: #221815;
    letter-spacing: 0.0709219858vw;
    line-height: 1;
    margin-bottom: 0.9929078014vw;
  }
  .footer__logo {
    display: inline-block;
    width: 5.5319148936vw;
    height: 5.5319148936vw;
    background: url(../img/logo.png) no-repeat;
    background-size: cover;
    margin-right: 1.7730496454vw;
  }
  .footer .page-up {
    background: url("../img/pageup.png") no-repeat;
    width: 10.5673758865vw;
    height: 31.6312056738vw;
    background-size: cover;
    right: 0;
    cursor: pointer;
    top: -2.4822695035vw;
    position: absolute;
  }
}
@media only screen and (max-width: 1410px) {
  .copyright {
    font-size: 0.9929078014vw;
    color: #a6937c;
    letter-spacing: 0.4964539007vw;
    padding-bottom: 2.3404255319vw;
  }
}
@media only screen and (max-width: 1410px) {
  .nav-hamburger {
    position: fixed;
    top: 1.4184397163vw;
    left: 2.6241134752vw;
    width: 45px;
    height: 45px;
    z-index: 100;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: #221815;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #221815;
    transition: opacity 0.3s, visibility 0.3s, background-color 0.5s;
  }
}
@media only screen and (max-width: 1410px) and (min-width: 769px) {
  .nav-hamburger {
    display: none;
  }
}
@media only screen and (max-width: 1410px) {
  .is-menuopen .nav-hamburger {
    background-color: #fff;
  }
}
@media only screen and (max-width: 1410px) {
  .nav-hamburger__line {
    position: relative;
    width: 1.625em;
    height: 1em;
    display: block;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1410px) {
  .nav-hamburger__line:before,
.nav-hamburger__line:after {
    content: "";
    display: block;
    transition: transform 0.4s, background-color 0.5s;
    position: absolute;
    width: 100%;
    left: 0;
    height: 3px;
    background-color: #fff;
  }
}
@media only screen and (max-width: 1410px) {
  .is-menuopen .nav-hamburger__line:before,
.is-menuopen .nav-hamburger__line:after {
    background-color: #222;
  }
}
@media only screen and (max-width: 1410px) {
  .nav-hamburger__line:before {
    top: 0;
  }
}
@media only screen and (max-width: 1410px) {
  .nav-hamburger__line:after {
    bottom: 0;
  }
}
@media only screen and (max-width: 1410px) {
  .is-menuopen .nav-hamburger .nav-hamburger__line:before {
    transform: translateY(0.375em) rotate(-45deg);
  }
}
@media only screen and (max-width: 1410px) {
  .is-menuopen .nav-hamburger .nav-hamburger__line:after {
    transform: translateY(-0.375em) rotate(45deg);
  }
}
@media only screen and (max-width: 1410px) and (hover: hover) {
  .nav-hamburger:hover.on .nav-hamburger__line:before,
.nav-hamburger:hover.on .nav-hamburger__line:after {
    animation: menulineanim 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .nav-hamburger:hover.on .nav-hamburger__line:after {
    animation-delay: 0.1s;
  }
  .is-menubtnopen .nav-hamburger:hover.on .nav-hamburger__line:before,
.is-menubtnopen .nav-hamburger:hover.on .nav-hamburger__line:after {
    animation: none;
  }
  @keyframes menulineanim {
    0% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(100%, 0, 0);
    }
    52% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}
@media only screen and (max-width: 1410px) {
  .btn-scroll-down {
    top: 44.8936170213vw;
    left: 50%;
    position: absolute;
  }
  .btn-scroll-down span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 3.1914893617vw;
    height: 4.8936170213vw;
    margin-left: -15px;
    border: 0.3546099291vw solid #fff;
    border-radius: 3.5460992908vw;
    box-sizing: border-box;
  }
  .btn-scroll-down span::before {
    position: absolute;
    top: 0.7092198582vw;
    left: 50%;
    content: "";
    width: 0.3546099291vw;
    height: 1.0638297872vw;
    margin-left: -0.2127659574vw;
    background-color: #fff;
    border-radius: 0.7092198582vw;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 1410px) {
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
@media only screen and (max-width: 1410px) {
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
.btn-white {
  background-color: #ffffff;
}

.btn-scroll-up {
  display: block;
  background: url(../img/scroll-up.png) no-repeat;
  width: 77px;
  height: 132px;
  background-size: cover;
  cursor: pointer;
}

.btn-default {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 31px 35px;
  font-size: 18px;
  color: #362e2b;
  border: 2px solid #59493f;
  border-radius: 50px;
  position: relative;
}
.btn-default .title {
  font-weight: bold;
}
.btn-default .identifier {
  display: inline-block;
  width: 38px;
  height: 3px;
  background-color: #f0c8c9;
  margin-left: 34px;
  margin-right: 23px;
}
.btn-default .date {
  margin-right: 23px;
}
.btn-default .description {
  font-weight: 500;
}

.btn-corner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-corner--medium {
  background: url(../img/btn-corner-m-bg.png) no-repeat;
  width: 184px;
  height: 163px;
  background-size: contain;
  font-size: 16px;
  letter-spacing: 0px;
  position: absolute;
  right: -35px;
  bottom: 23px;
}
.btn-corner--small {
  background: url(../img/btn-corner-s-bg.png) no-repeat;
  width: 101px;
  height: 89px;
  font-size: 16px;
  line-height: 1;
  background-size: contain;
  letter-spacing: 1px;
  position: absolute;
  right: 24px;
  bottom: -24px;
}

.btn-medium {
  font-size: 30px;
  color: #362e2b;
  padding: 23px;
  border: 4px solid #59493f;
  letter-spacing: 0.05em;
  justify-content: center;
}

@media only screen and (max-width: 1410px) {
  .btn-white {
    background-color: #ffffff;
  }
  .btn-scroll-up {
    display: block;
    background: url(../img/scroll-up.png) no-repeat;
    width: 5.4609929078vw;
    height: 9.3617021277vw;
    background-size: cover;
    cursor: pointer;
  }
  .btn-default {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2.1985815603vw 2.4822695035vw;
    font-size: 1.2765957447vw;
    color: #362e2b;
    border: 0.1418439716vw solid #59493f;
    border-radius: 3.5460992908vw;
    position: relative;
  }
  .btn-default .title {
    font-weight: bold;
  }
  .btn-default .identifier {
    display: inline-block;
    width: 2.695035461vw;
    height: 0.2127659574vw;
    background-color: #f0c8c9;
    margin-left: 2.4113475177vw;
    margin-right: 1.6312056738vw;
  }
  .btn-default .date {
    margin-right: 1.6312056738vw;
  }
  .btn-default .description {
    font-weight: 500;
  }
  .btn-corner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-corner--medium {
    background: url(../img/btn-corner-m-bg.png) no-repeat;
    width: 13.0496453901vw;
    height: 11.5602836879vw;
    background-size: contain;
    font-size: 1.134751773vw;
    letter-spacing: 0vw;
    position: absolute;
    right: -2.4822695035vw;
    bottom: 1.6312056738vw;
  }
  .btn-corner--small {
    background: url(../img/btn-corner-s-bg.png) no-repeat;
    width: 7.1631205674vw;
    height: 6.3120567376vw;
    font-size: 1.134751773vw;
    line-height: 1;
    background-size: contain;
    letter-spacing: 0.0709219858vw;
    position: absolute;
    right: 1.7021276596vw;
    bottom: -1.7021276596vw;
  }
  .btn-medium {
    font-size: 2.1276595745vw;
    color: #362e2b;
    padding: 1.6312056738vw;
    border: 0.2836879433vw solid #59493f;
    letter-spacing: 0.05em;
    justify-content: center;
  }
}

/*# sourceMappingURL=theme.css.map */
